name: oop-project
services:
  website:
    build:
      context: .
      dockerfile_inline: |
        FROM php:8.2-apache
        RUN docker-php-ext-install pdo pdo_mysql 
        RUN chown -R www-data:www-data /var/www/html
    container_name: uni-manager
    restart: always 
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes" 
      MYSQL_DATABASE: University
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin_gui
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_ARBITRARY: 1
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data: